#root {
  viewport-fill: black;
}

#clockElement {
  y: 30;
  visibility: visible;
}

#date {
  x: 125;
  y: 52;
  fill: #2C1100;
}

#dateShadow {
  x: 123;
  y: 54;
  fill: #D3904A;
}

#time {
  x: 125;
  y: 143;
  fill: #2C1100;
}

#timeShadow {
  x: 123;
  y: 145;
  fill: #D3904A;
}

#goldLabel {
  x: 77;
  y: 196;
}

#energyBar {
  width: 46;
  height: 254;

  x: 252;
  y: 25;

  visibility: hidden;
}

#heartRateText {
  x: 144;
  y: 92;

  text-length: 3;
}

#heartRateTextShadow {
  x: 142;
  y: 94;
  fill: #D3904A;

  text-length: 3;
}
